@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #7eadb3;
}
.block {
  margin: auto;
  max-width: 80%;
}
.lg-block {
  margin: auto;
  max-width: 80vw;
  max-height: 50vh;
}
.center {
  text-align: center;
}
.top-container {
  padding-top: 5vh;
}
.message {
  font-weight: 500;
}
.message + div {
  font-size: 1.5em;
  text-align: end;
  margin-right: 2em;
}
.button {
  margin: 2em;
  font-size: 1em;
  border-radius: 40px;
  padding: .75em;
}

.sign_in-container {
  border-radius: 15px;
  margin: 2em;
  padding: 1em;
  background-color: #F2F1FA;
  max-width: 90vw;
  min-height: 90vh;
}

.form-container {
  background-color: #F2F1FA;
  max-width: 40vw;
  min-height: 70vh;
  border-radius: 15px;
}

/********Tech Icons*********/
.tech_card {
  border-radius: 20px;
  background-color: grey;
  width:12vw;
  padding: 1%;
  overflow: hidden;
  z-index: 1;
}
.tech-image {
  z-index: 0;
}

.highlight {
  border: 5px solid green;
}

.tech_grid-container {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  max-width: 90vw;
  align-items: flex-start;
}

.overlay-button {
  background-color: #F2F1FA;
  position: fixed;
  bottom: 2;
  z-index: 1;
}

@media (min-width: 1200px) {
  .half-hero_container {
    background-color: beige;
    height: 100vh;
    width: 70vw;
    float: right;
  }
  .form-container {
    margin: 5em 0 0 -20em;
    padding: 2em;
  }
}
.lTech-view_all {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 0;
  grid-template-rows: repeat(2, 1fr) repeat(3, 0);
  grid-column-gap: 2em;
  grid-row-gap: 1em;
}
.div1 { grid-area: 1 / 1 / 3 / 3; }
.div2 { grid-area: 1 / 3 / 2 / 5; }
.div3 { grid-area: 2 / 3 / 3 / 5; }

.lg-container {
  background-color: lightgrey;
}
.med-container {
  background-color: beige;
}

.alert {
  margin: 0;
}
.flex {
  display: flex;
  position: sticky;
}
 .learned-tech_header_contianer {
  display: flex;
  flex-direction: column;
 }
 .list_container {
  width: 50%;
  padding: 1%;
  border: 3px solid black;
  border-radius: 5px;
 }
.containers_flex {
  display: flex;
}
