@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif, 'Open Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

* {
  box-sizing:border-box;
}

body {
  background-color: #4e4e4e;
  font-family: 'Open Sans';
}
.main-container {
  margin:3%;
  border-radius: 15px;
  background-color: #363636;
}
@media (min-width: 1200px) {
  .main-container {
    margin: 3% auto;
    max-width: 1440px;
    height: 100vh;
  }
}
.block {
  margin: auto;
  max-width: 80%;
}
.lg-block {
  margin: auto;
  max-width: 80vw;
  max-height: 50vh;
}
.center {
  text-align: center;
}
.top-container {
  padding: 5vh;
  max-width: 768px;
}
.message {
  color: white;
  font-weight: 500;
}
.message + div {
  color: white;
  font-size: 1.5em;
  text-align: end;
  margin-right: 1em;
}
.button {
  margin: 2em;
  font-size: 1em;
  border-radius: 40px;
  padding: .75em;
}

.sign_in-container {
  border-radius: 15px;
  margin: 2em;
  padding: 1em;
  background-color: #F2F1FA;
  max-width: 90vw;
  min-height: 90vh;
}

.form-container {
  background-color: #F2F1FA;
  max-width: 40vw;
  min-height: 70vh;
  border-radius: 15px;
}

/********Tech Icons*********/
.tech_card {
  border: 5px solid #787878;
  border-radius: 20px;
  background-color: #b7b7b7;
  -webkit-box-shadow: 2px 7px 14px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 7px 14px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 7px 14px 0px rgba(0,0,0,0.75);
  padding: 1%;
  overflow: hidden;
  z-index: 1;
}
.tech-image {
  z-index: 0;
}

.highlight {
  border: 5px solid green;
}

.tech_grid-container {
  display: flex;
  margin: auto;
  padding-bottom: 10%;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  max-width: 90vw;
  align-items: flex-start;
}

.overlay-button {
  background-color: #F2F1FA;
  position: fixed;
  bottom: 2;
  z-index: 1;
}

@media (min-width: 1200px) {
  .half-hero_container {
    background-color: beige;
    height: 100vh;
    width: 70vw;
    float: right;
  }
  .form-container {
    margin: 5em 0 0 -20em;
    padding: 2em;
  }
}
.lTech-view_all {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 0;
  grid-template-rows: repeat(2, 1fr) repeat(3, 0);
  grid-column-gap: 2em;
  grid-row-gap: 1em;
}
.div1 { grid-area: 1 / 1 / 3 / 3; }
.div2 { grid-area: 1 / 3 / 2 / 5; }
.div3 { grid-area: 2 / 3 / 3 / 5; }

.lg-container {
  background-color: lightgrey;
}
.med-container {
  background-color: beige;
}

.alert {
  margin: 0;
}
.navbar_sticky {
  position: sticky;
}
 .learned-tech_header_contianer {
  display: flex;
  flex-direction: column;
 }
 .list_container {
  padding: 3%;
  border: 3px solid black;
  border-radius: 5px;
 }
.block_section {
  margin: 2em 1em 2em 1em;
}
.box-half {
  width: 50%;
}

.flex {
  display: flex;
}

.two-containers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 1em;
}
.topic-goal_card {
  
}
.full-width {
  display: flex;
  justify-content: space-between;
}

.list_spacing {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
 .nav-link {
  color: #F2F1FA;
 }
