@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #88effd;
}

.sign_in-container {
  border-radius: 15px;
  margin: 2em;
  padding: 1em;
  background-color: #F2F1FA;
  max-width: 90vw;
  min-height: 90vh;
}

.form-container {
  background-color: #F2F1FA;
  max-width: 40vw;
  min-height: 70vh;
  border-radius: 15px;
}
@media (min-width: 1200px) {
  .half-hero_container {
    background-color: beige;
    height: 100vh;
    width: 70vw;
    float: right;
  }
  .form-container {
    margin: 5em 0 0 -20em;
    padding: 2em;
  }
}
